body {
        width: 1366px;
        height: 768px;
        left: 0px;
        top: 0px;
}

.logo {
    padding:  5px 0px 0px 100px;
    float: left;
    display: flex;
}

.title {
    color: white;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    text-decoration: none;
    }
.title_s {
    text-decoration: none;
    color: white;
}
a:hover {
    color: orange;
}
a {
color: white;
text-decoration: none;

}
.mail {
    color: white;
    display: flex;
    margin: 5px 75px 0px 0px;
    float: right;
    line-height: 1.8;
    text-align: right;
}
.img {
    columns: 3;
    padding: 0px 1px 1px 100px;
    line-height: 1;
    column-gap: 74px;
    list-style-type: none;
    color: white;
    float: left;
    margin: auto;
    
            
}
.finish {
    color: white;
    text-align: center;
    padding: 720px 100px;
}
.text-photo {
    margin: 0px 0px 200px 0px;
}
.one {
    text-align: center;
    line-height: 1.5;
    padding: 0px 0px 75px 0px;
}
.two {
        text-align: center;
            line-height: 1.5;
}
.three {
        text-align: center;
            line-height: 1.5;
            padding: 0px 0px 75px 0px;
}
.four {
        text-align: center;
            line-height: 1.5;
}
.five {
        text-align: center;
            line-height: 1.5;
            padding: 0px 0px 75px 0px;
}
.six {
        text-align: center;
            line-height: 1.5;
}
li {
    margin: 0px 70px 0px 0px;
}
.details-1 {
    background: #F26522;
    font-size: 25px;
    line-height: 1;
    position: absolute;
    left: 110px;
    bottom: 393px;
    right: 1110px;
    background: rgba(255, 132, 0, 0.7);
    padding: 0px;
    display: none;
    
}
.one:hover .details-1 {
    display: block
}
.details-2 {
            background: #F26522;
            font-size: 25px;
            line-height: 1;
            position: absolute;
            left: 110px;
            bottom: 66px;
            right: 1110px;
            background: rgba(255, 132, 0, 0.7);
            padding: 0px;
            display: none;
}
.two:hover .details-2 {
    display: block;
}
.details-3 {
            background: #F26522;
            font-size: 25px;
            line-height: 1;
            position: absolute;
            left: 558px;
            bottom: 399px;
            right: 668px;
            background: rgba(255, 132, 0, 0.7);
            padding: 0px;
            display: none;
}
.three:hover .details-3 {
    display: block;
}
.details-4 {
    background: #F26522;
    font-size: 25px;
    line-height: 1;
    position: absolute;
    left: 555px;
    bottom: 66px;
    right: 664px;
    background: rgba(255, 132, 0, 0.7);
    padding: 0px;
    display: none;
}

.four:hover .details-4 {
    display: block;
}
.details-5 {
    background: #F26522;
    font-size: 25px;
    line-height: 1;
    position: absolute;
    left: 1002px;
    bottom: 392px;
    right: 217px;
    background: rgba(255, 132, 0, 0.7);
    padding: 0px;
    display: none;
}

.five:hover .details-5 {
    display: block;
}
.details-6 {
    background: #F26522;
    font-size: 25px;
    line-height: 1;
    position: absolute;
    left: 1002px;
    bottom: 68px;
    right: 217px;
    background: rgba(255, 132, 0, 0.7);
    padding: 0px;
    display: none;
}

.six:hover .details-6 {
    display: block;
}

.pseudo-details::after {
    content: '>';
}